@import './common.less';

.ctz-button {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5;
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  background-color: #ffffff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  &:hover {
    color: @blue;
    border-color: @blue;
  }
  &:active {
    background: rgba(0, 0, 0, 0.08) !important;
  }
}

.ctz-button[size='small'],
.ctz-button.ctz-button-small {
  padding: 2px 6px;
  font-size: 12px;
  height: 24px;
}

.ctz-button.ctz-button-transparent {
  background: transparent;
}

.ctz-button-red {
  color: #e55353 !important;
  border: 1px solid #e55353 !important;
  &:hover {
    color: #ec7259 !important;
    border: 1px solid #ec7259 !important;
  }
}

.ctz-button:disabled {
  border-color: #d0d0d0;
  background-color: rgba(0, 0, 0, 0.08);
  color: #b0b0b0;
  cursor: not-allowed;
}
