.Profile-mainColumn,
.Collections-mainColumn {
  flex: 1;
}

#root {
  // 主页私信、同志、创作中心按钮的 margin-right 设置
  .css-1liaddi {
    margin-right: 0;
  }
}

.ContentItem-title div {
  display: inline;
}

// 原包裹 SearchBar 的 div, :empty 为内部没有元素
.css-1acwmmj:empty {
  display: none !important;
}
