@import './common.less';

.Profile-mainColumn,
.Collections-mainColumn {
  flex: 1;
}

#root {
  // 主页私信、同志、创作中心按钮的 margin-right 设置
  .css-1liaddi {
    margin-right: 0;
  }
}

.ContentItem-title div {
  display: inline;
}

// 原包裹 SearchBar 的 div, :empty 为内部没有元素
.css-1acwmmj:empty {
  display: none !important;
}

// css-hr0k1l 为图片弹窗背景
.css-hr0k1l::after {
  content: '点击键盘左、右按键切换图片';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

// 知乎搜索页标题下的 XXX回答·XXX浏览
.HotLanding-contentItemCount.HotLanding-contentItemCountWithoutSub {
  margin-top: 12px;
}

// 悬浮收起按钮
body[data-suspension-pickup='true'] {
  .ContentItem-actions.Sticky.is-fixed {
    button[data-zop-retract-question='true'] {
      .Hover(@hover, #fff);
      .Active();
      position: fixed;
      bottom: 50px;
      background: #fff;
      padding: 12px;
      box-shadow: @openShadow_0;
      border-radius: 12px;
    }
  }
}
