@import './theme.less';

.hover-style {
  cursor: pointer;
  &:hover {
    color: @blue1!important;
  }
}

.CommonTransition {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

/** 内部有 DIV 的点击效果 */
.HoverDiv() {
  cursor: pointer;
  &:hover {
    div {
      background: @hoverBg;
      color: @hover;
      font-weight: 600;
    }
  }
  &:active {
    div {
      font-weight: 200;
    }
  }
}

.Hover() {
  // cursor: pointer;
  &:hover {
    background: @hoverBg;
    color: @hover!important;
    font-weight: 600;
  }
}

.Active() {
  &:active {
    font-weight: 200!important;
  }
}

/** 禁止鼠标选中 */
.MonUserSelect() {
  // 禁止文字被鼠标选中
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ctz-checkbox-text {
  margin-left: 6px;
}
