@import './theme.less';

.hover-style {
  cursor: pointer;
  &:hover {
    color: @blue1!important;
  }
}

.CommonTransition {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

/** 内部有 DIV 的点击效果 */
.HoverDiv(@color: @hover, @background: @hoverBg) {
  cursor: pointer;
  &:hover {
    div {
      background: @background;
      color: @color;
      font-weight: 600;
    }
  }
  &:active {
    div {
      font-weight: 200;
    }
  }
}

.Hover(@color: @hover, @background: @hoverBg) {
  // cursor: pointer;
  &:hover {
    background: @background;
    color: @color!important;
    font-weight: 600;
  }
}

.Active() {
  &:active {
    font-weight: 200 !important;
  }
}

/** 禁止鼠标选中 */
.MonUserSelect() {
  // 禁止文字被鼠标选中
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ctz-checkbox-text {
  margin-left: 6px;
}

.themeLight(@background1, @background2, @openShadow, @primary01, @primary1, @primary3) {
  #CTZ_DRAWER_CONTENT,
  #CTZ_DRAWER_FOOTER,
  #CTZ_OPEN_CLOSE,
  .ctz-black-item {
    background: @background2!important;
  }
  #CTZ_OPEN_CLOSE {
    .HoverDiv(@primary1);
    box-shadow: @openShadow;
  }

  #CTZ_DRAWER_MENU > div {
    &.target {
      & > span {
        color: @primary1;
      }
      color: @primary1;
      background: @primary01;
    }
  }

  #CTZ_DRAWER_MENU > div,
  #CTZ_DRAWER_MENU .ctz-dropdown-icon,
  #CTZ_DRAWER_MENU .ctz-dropdown a,
  #CTZ_DRAWER_FOOTER .ctz-to-zhihu a:hover,
  #CTZ_DRAWER_FOOTER .ctz-github a:hover {
    .Hover(@primary1);
  }

  .ctz-button {
    background: @background1;
    &:hover {
      border-color: @primary1;
    }
  }
  .ctz-button.ctz-button-primary {
    background: @primary1;
    &:hover {
      background: @primary3;
    }
    &:active {
      background: @primary1;
    }
  }

  .ctz-title {
    &::before {
      background: @primary1;
    }
    &::after {
      border-color: @primary01;
    }
  }

  #CTZ_DRAWER label:hover,
  #CTZ_BACKGROUND > label div:hover,
  #CTZ_BACKGROUND_LIGHT > label div:hover,
  #CTZ_BACKGROUND_DARK > label div:hover {
    color: @primary1!important;
  }
  .ctz-black-item .ctz-remove-block:hover,
  .ctz-black-item a:hover {
    color: @primary1;
  }

  #CTZ_TITLE_ICO label input:checked + img,
  #CTZ_BACKGROUND > label input:checked + div,
  #CTZ_BACKGROUND_LIGHT > label input:checked + div,
  #CTZ_BACKGROUND_DARK > label input:checked + div,
  #CTZ_BACKGROUND > label div:hover,
  #CTZ_BACKGROUND_LIGHT > label div:hover,
  #CTZ_BACKGROUND_DARK > label div:hover {
    border-color: @primary1;
  }

  #CTZ_DRAWER label.ctz-checkbox {
    input:checked + div::before {
      color: @background2;
      background: @primary1;
      border-color: @primary1;
    }
    &:hover {
      color: @primary1;
      div::before {
        border-color: @primary1;
      }
    }
  }

  .ctz-radio-group {
    input:checked + div {
      background: @background2;
      color: @primary1;
      border-color: @primary1;
      &::after {
        background: @primary1;
      }
      &::before {
        background: @primary1;
      }
    }

    label:hover {
      div {
        background: @primary01;
      }
    }
  }

  body[data-suspension-pickup='true'] {
    .ContentItem-actions.Sticky.is-fixed {
      button[data-zop-retract-question='true'] {
        .Hover(@primary3, @primary1);
        background: @background2;
        box-shadow: @openShadow;
      }
    }
  }
}

// 主题颜色配置
[theme-light='1'] {
  .themeLight(@background_1_1, @background_1_2, @openShadow_1, @red01, @red1, @red3);
}
[theme-light='2'] {
  .themeLight(@background_2_1, @background_2_2, @openShadow_2, @yellow01, @yellow1, @yellow3);
}
[theme-light='3'] {
  .themeLight(@background_3_1, @background_3_2, @openShadow_3, @green01, @green1, @green3);
}
[theme-light='4'] {
  .themeLight(@background_4_1, @background_4_2, @openShadow_4, @gray01, @gray1, @gray3);
}
[theme-light='5'] {
  .themeLight(@background_5_1, @background_5_2, @openShadow_5, @purple01, @purple1, @purple3);
}
[theme-light='6'] {
  .themeLight(@background_6_1, @background_6_2, @openShadow_6, @origin01, @origin1, @origin3);
}
[theme-light='7'] {
  .themeLight(@background_7_1, @background_7_2, @openShadow_7, @origin01, @origin1, @origin3);
}

[theme-dark='0'] {
  .themeLight(@background_dark_0_1, @background_dark_0_2, @openShadow_dark_0, @gray01, @gray1, @gray3);
}
[theme-dark='1'] {
  .themeLight(@background_dark_1_1, @background_dark_1_2, @openShadow_dark_1, @gray01, @gray1, @gray3);
}
[theme-dark='2'] {
  .themeLight(@background_dark_2_1, @background_dark_2_2, @openShadow_dark_2, @gray01, @gray1, @gray3);
}
[theme-dark='3'] {
  .themeLight(@background_dark_3_1, @background_dark_3_2, @openShadow_dark_3, @gray01, @gray1, @gray3);
}
[theme-dark='4'] {
  .themeLight(@background_dark_4_1, @background_dark_4_2, @openShadow_dark_4, @blue01, @blue1, @blue3);
}
[theme-dark='5'] {
  .themeLight(@background_dark_5_1, @background_dark_5_2, @openShadow_dark_5, @red01, @red1, @red3);
}
[theme-dark='6'] {
  .themeLight(@background_dark_6_1, @background_dark_6_2, @openShadow_dark_6,  @green01, @green1, @green3);
}
