@import './common.less';

@dialogWidth: 800px;
@dialogHeight: 600px;

/** 抽屉样式 */
#CTZ_DIALOG {
  .CommonTransition();
  .PositionCenter();
  transition-property: height;
  width: @dialogWidth;
  height: @dialogHeight;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #dbdbdb, -2px -2px 4px #dbdbdb;
  background: #e0e0e0;
  flex-direction: column;
  overflow: hidden;
  z-index: 202;
  font-size: @FontSize;
  border: 1px solid @gray01;
}

#CTZ_DIALOG,
#CTZ_EXTRA_OUTPUT_DIALOG {
  input[type='text'],
  input[type='number'],
  textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 1px 4px;
    font-size: @FontSize;
    line-height: 1.5;
    list-style: none;
    position: relative;
    display: inline-block;
    min-width: 0;
    border: 1px solid @gray04;
    border-radius: 4px;
    transition: all 0.2s;
    background: transparent;
  }

  label {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: @hover!important;
    }

    .ctz-i[type='checkbox'] ~ div {
      margin-left: 8px;
      display: inline-block;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb {
    background: #bbb;
    transition: all 0.2s;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(95, 95, 95, 0.7);
  }

  a {
    transition: all 0.2s;
    text-decoration: none;
  }

  .ctz-button {
    min-width: 68px;
  }
}

#CTZ_DIALOG_LEFT {
  width: 160px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #e0e0e0;
}

#CTZ_DIALOG_MENU {
  flex: 1;
  overflow: hidden auto;
  padding: 8px 12px 0;
  @HeightMenuItem: 38px;
  & > div {
    .Active();
    box-sizing: border-box;
    line-height: @HeightMenuItem;
    padding-left: 12px;
    border-radius: 6px;
    font-size: @FontSize;
    margin-bottom: 2px;
    cursor: pointer;

    &:hover {
      background: rgba(77, 66, 86, 0.08);
    }

    &.target {
      color: #fff !important;
      background: @blue1;
    }
  }
}

#CTZ_DIALOG_RIGHT {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ededec;
}

#CTZ_DIALOG_RIGHT_TITLE {
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0 18px;
  border-bottom: 1px solid @gray02;
  display: flex;
  .ctz-right-title-content {
    flex: 1;
    div > span {
      font-size: 12px;
      color: @red1;
      padding-left: 8px;
    }
  }
}

#CTZ_DIALOG_MAIN {
  flex: 1;
  overflow-y: auto;
  & > div {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
  }
}

#CTZ_DIALOG_CONTENT {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.ctz-zhihu-key a {
  color: @blue1!important;
  &:hover {
    color: #bbb !important;
  }
}

.ctz-default-bottom,
.ctz-config-buttons {
  a,
  button {
    margin-left: 8px;
    width: 100px;
  }
}

/** 打开关闭抽屉按钮 */
#CTZ_OPEN_CLOSE {
  transition-property: none;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  user-select: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: @gray04;
  border-radius: 8px;
  opacity: 0.8;
  font-size: 44px;
  cursor: pointer;
  z-index: 201;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border: 2px solid @gray02;
  &:hover {
    opacity: 1;
  }
}

#CTZ_LEFT_BUTTONS {
  margin: 8px 0 0 8px;
  button {
    height: 22px;
    border-radius: 4px;
    padding: 0;
    border: 0;
    font-size: 12px;
    color: #fff;
    width: 70px;
  }
  [name='dialogClose'] {
    background: #fe6059;
    .Hover(#fff, @red3);
  }

  [name='dialogBig'] {
    background: #27c93f;
    .Hover(#fff, @green1);
  }
}

// 开启修改器弹窗上的齿轮样式
.gear {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  border: 6px solid @gray1;
  background: transparent;
  &_line_1,
  &_line_2,
  &_line_3,
  &_line_4 {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 6px;
    border-radius: 2px;
    border-left: 6px solid #8e8e93;
    border-right: 6px solid #8e8e93;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &_line_2 {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &_line_3 {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &_line_4 {
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

#CTZ_EXTRA_OUTPUT_COVER {
  .PositionCenter();
  width: @dialogWidth;
  height: @dialogHeight;
  background: rgba(0, 0, 0, 0.4);
  z-index: 203;
  border-radius: 8px;
}

#CTZ_EXTRA_OUTPUT_DIALOG {
  .PositionCenter();
  z-index: 204;
  background: #ededec;
  border-radius: 8px;
  overflow: hidden;
  min-width: 420px;
  border: 1px solid rgba(142, 142, 147, 0.1);
  box-shadow: 2px 2px 4px #dbdbdb, -2px -2px 4px #dbdbdb;

  .ctz-extra-footer {
    text-align: right;
    padding: 14px;
    border-top: 1px solid @gray01;
    button {
      margin-left: 12px;
    }
  }

  .ctz-title {
    padding-left: 14px;
    height: auto;
    font-size: 16px;
  }

  & > div {
    padding-top: 4px;
  }

  .ctz-change-blocked-user-tag-name {
    width: 420px;
    padding: 0 14px 14px;
    input[name='blocked-user-tag-name'] {
      width: 100%;
    }
  }

  .ctz-choose-blocked-user-tags {
    width: 600px;
    padding: 6px 6px 6px 14px;
    & > span {
      cursor: pointer;
      display: inline-block;
      border-radius: 6px;
      margin: 0 8px 8px 0;
      border: 1px solid @gray04;
      padding: 0 8px;
      background: #fff;
      .Hover();
      &[data-choose='true'] {
        color: @blue1;
        border-color: @blue1;
        background: @blue01;
      }
    }
  }
}

.ctz-zhida {
  color: rgb(9, 64, 142);
  margin: 0 2px;
  span {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    height: 15px;
    line-height: 15px;
  }
}

#CTZ_HIDDEN,
#CTZ_VERSION,
#CTZ_FILTER {
  padding-top: 0 !important;
}

// 标题悬浮
#CTZ_HIDDEN .ctz-title,
#CTZ_FILTER .ctz-title {
  position: sticky;
  top: 0;
  margin: 0 -18px;
  padding: 0 18px 0 28px;
  background: #ededec;
  z-index: 1;
}

// 不感兴趣
#CTZ_NOT_INTERESTED_LIST {
  & > div {
    display: block;
    line-height: 24px;
    .ctz-remove-not-interested-item {
      cursor: pointer;
      margin-left: 6px;
      &:hover {
        color: @blue1;
      }
    }
  }
}
