.ctz-form-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
  margin-bottom: 18px;
  & > div:first-of-type {
    width: 148px;
    line-height: 32px;
  }
  & > div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
