@import './common.less';
@import './button.less';
@import './change-zhihu.less';
@import './dialog.less';
@import './radio.less';
@import './checkbox.less';
@import './tooltip.less';
@import './form.less';
@import './title.less';
@import './switch.less';
@import './fetch-intercept.less';
@import './range.less';
@import './select.less';
@import './setting-background.less';
@import './setting-default.less';
@import './setting-block-words.less';
@import './blocked-users.less';

.ctz-set-content:not(.ctz-flex-wrap) {
  & > div,
  & > label {
    margin-bottom: 18px;
  }
}

.ctz-commit {
  font-size: 12px;
  color: #999;
  b {
    color: @red1;
  }
}

.ctz-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  min-height: 24px;
  align-items: center;
  label {
    margin-right: 4px;
    display: flex;
    align-items: center;
    input[type='radio'] {
      margin: 0 4px 0 0;
    }
  }
}

.ctz-video-download {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.ctz-loading {
  animation: loadingAnimation 2s infinite;
  font-size: 24px;
  color: @gray2;
  cursor: none;
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ctz-preview {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 200;
  background-color: rgba(18, 18, 18, 0.4);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    img {
      cursor: zoom-out;
      user-select: none;
    }
  }
}

#CTZ_TITLE_ICO {
  label {
    input {
      display: none;
      &:checked + img {
        border-color: @primary;
      }
    }
    img {
      width: 28px;
      height: 28px;
      border: 4px solid transparent;
      border-radius: 8px;
    }

    &:hover {
      img {
        border-color: #e0e0e0;
      }
    }
  }
}

.ctz-question-time {
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 24px;
}

// 页面禁止滚动
.ctz-stop-scroll {
  height: 100% !important;
  overflow: hidden !important;
}

.ctz-export-collection-box {
  float: right;
  text-align: right;
  p {
    font-size: @FontSize;
    color: #666;
    margin: 4px 0;
  }
}

.ctz-pdf-dialog-item {
  padding: 12px;
  border-bottom: 1px solid #eee;
  margin: 12px;
  background: #ffffff;
}

.ctz-pdf-dialog-title {
  margin: 0 0 1.4em;
  font-size: 20px;
  font-weight: bold;
}

.ctz-pdf-box-content {
  width: 100%;
  background: #ffffff;
}

.ctz-pdf-view {
  width: 100%;
  background: #ffffff;
  word-break: break-all;
  white-space: pre-wrap;
  font-size: @FontSize;
  overflow-x: hidden;
  a {
    color: #0066ff;
  }
  img {
    max-width: 100%;
  }
  p {
    margin: 1.4em 0;
  }
}

// header 三大金刚定位
// .ctz-unlock,
// .ctz-lock,
// .ctz-lock-mask {
//   display: none;
//   color: #999;
//   cursor: pointer;
// }

// .ctz-unlock,
// .ctz-lock {
//   font-size: 20px;
//   align-items: center;
//   justify-content: center;
// }

// .ctz-lock-mask {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.4);
//   z-index: 198;
// }

// .position-suspensionSearch,
// .position-suspensionFind,
// .position-suspensionUser {
//   position: fixed;
//   z-index: 100;
// }
// .position-suspensionSearch,
// .position-suspensionFind,
// .position-suspensionUser,
// .Topstory-container .TopstoryTabs {
//   &:hover {
//     .ctz-unlock {
//       display: flex;
//     }
//   }
// }

// .ctz-move-this {
//   .ctz-unlock {
//     display: none !important;
//   }
//   .ctz-lock,
//   .ctz-lock-mask {
//     display: flex;
//   }
//   .ctz-lock {
//     z-index: 199;
//     color: #cccccc;
//   }
// }

// .position-suspensionFind {
//   display: flex;
//   flex-direction: column;
//   margin: 0 !important;
//   .Tabs-item {
//     padding: 0 !important;
//     margin-bottom: 4px;
//     .Tabs-link {
//       padding: 8px !important;
//       border-radius: 4px;
//       &::after {
//         content: '' !important;
//         display: none !important;
//       }
//     }
//   }
// }

// .position-suspensionUser {
//   width: fit-content !important;
//   margin: 0 !important;
//   display: flex;
//   flex-direction: column;
//   .AppHeader-messages,
//   .AppHeader-notifications,
//   .css-18vqx7l {
//     margin-right: 0 !important;
//     margin-bottom: 12px;
//   }

//   .AppHeader-login,
//   .AppHeader-login ~ button {
//     display: none;
//   }
// }

// .position-suspensionSearch {
//   line-height: 30px;
//   border-radius: 16px;
//   width: 20px;
//   transition: width 0.5s;
//   .ctz-search-icon {
//     font-size: 24px;
//     transform: rotate(-60deg);
//   }

//   .SearchBar-input-focus {
//     .ctz-search-pickup {
//       display: none;
//     }
//   }
//   &.focus {
//     width: 300px;
//     & > form,
//     & > button,
//     .ctz-search-pickup {
//       display: block;
//     }
//     .ctz-search-icon {
//       display: none;
//     }
//     &:hover {
//       width: 324px;
//     }
//   }
//   .ctz-search-icon,
//   .ctz-search-pickup {
//     cursor: pointer;
//     color: #0066ff;
//     margin-right: 6px;
//     &:hover {
//       color: #005ce6;
//     }
//   }
//   .ctz-search-pickup {
//     font-size: 24px;
//     margin-left: 4px;
//   }
//   & > form,
//   & > button,
//   .ctz-search-pickup {
//     display: none;
//   }
//   .ctz-search-icon {
//     display: block;
//   }
// }

.key-shadow {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 6%) 0px 1px 1px 0px;
  font-weight: 600;
  min-width: 26px;
  height: 26px;
  padding: 0px 6px;
  text-align: center;
  margin: 0 4px;
}

#CTZ_HISTORY_LIST,
#CTZ_HISTORY_VIEW {
  a {
    .Hover();
    word-break: break-all;
    display: block;
    margin-bottom: 8px;
    padding: 6px 12px;
    border: 1px solid @gray04;
    border-radius: 8px;
    cursor: pointer;
  }
}

.ctz-video-link {
  border: 1px solid #ccc;
  display: inline-block;
  height: 98px;
  width: fit-content;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s;
  img {
    width: 98px;
    height: 98px;
    vertical-align: bottom;
  }
  span {
    padding: 4px 12px;
    display: inline-block;
  }

  &:hover {
    border-color: #005ce6;
    color: #005ce6;
  }
}

#CTZ_MESSAGE_BOX {
  position: fixed;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: 1000;
}

.ctz-message {
  margin: 0 auto;
  width: 500px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: @FontSize;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #d0d4d6, 0px 0px 8px #e6eaec;
  margin-bottom: 12px;
  background: #fff;
}

#IMPORT_BY_FILE,
#IMPORT_BLACK {
  display: inline-flex;
  input {
    display: none;
  }
}

#CTZ_FILTER_BLOCK_WORDS,
#CTZ_FILTER_BLOCK_WORDS_CONTENT {
  input {
    width: 100%;
  }
}

// 用于定位计算
#CTZ_COVER {
  position: fixed;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
