@import './common.less';

.ctz-select {
  position: relative;
  width: fit-content;
}

.ctz-select-input {
  background: transparent;
  text-align: right;
  height: 22px;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0 8px;
  line-height: 22px;
  cursor: pointer;
  &:hover {
    background: #ffffff;
    border: 1px solid #e0e0e0;
  }
}

.ctz-select-icon {
  margin-left: 4px;
}

.ctz-option-box {
  position: absolute;
  top: 24px;
  right: 0;
  background: #e9e9e8;
  z-index: 10;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 4px #dbdbdb, -2px -2px 4px #dbdbdb;
}

.ctz-option-item {
  white-space: pre;
  cursor: default;
  padding: 0 6px 0 24px;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  position: relative;
  &:hover {
    color: #fff;
    background: @hover;
  }

  &[data-choose="true"] {
    &::before {
      content: '✓';
      position: absolute;
      left: 6px;
    }
  }
}
