/** 红色 **/
@red1: rgb(255, 59, 48);
@red2: rgb(255, 69, 58);
@red3: rgb(215, 0, 21);
@red4: rgb(255, 105, 97);
@red01: rgba(255, 59, 48, 0.1);

/** 橙色 **/
@origin1: rgb(255, 149, 0);
@origin2: rgb(255, 159, 10);
@origin3: rgb(201, 52, 0);
@origin4: rgb(255, 179, 64);
@origin01: rgba(255, 179, 64, 0.1);

/** 黄色 **/
@yellow1: rgb(160, 90, 0);
@yellow2: rgb(255, 214, 10);
@yellow3: rgb(255, 204, 0);
@yellow4: rgb(255, 212, 38);
@yellow01: rgba(160, 90, 0, 0.1);

/** 绿色 **/
@green1: rgb(0, 125, 27);
@green2: rgb(50, 215, 75);
@green3: rgb(40, 205, 65);
@green4: rgb(49, 222, 75);
@green01: rgba(0, 125, 27, 0.1);

/** 蓝色 **/
@blue1: rgb(0, 122, 255);
@blue2: rgb(10, 132, 255);
@blue3: rgb(0, 64, 221);
@blue4: rgb(64, 156, 255);
@blue01: rgba(0, 122, 255, 0.1);

/** 紫色 **/
@purple1: rgb(175, 82, 222);
@purple2: rgb(191, 90, 242);
@purple3: rgb(173, 68, 171);
@purple4: rgb(218, 143, 255);
@purple01: rgba(175, 82, 222, 0.1);

/** 灰色 **/
@gray1: rgb(142, 142, 147);
@gray2: rgb(145, 145, 157);
@gray3: rgb(105, 105, 110);
@gray4: rgb(152, 152, 157);
@gray01: rgba(142, 142, 147, 0.1);
@gray02: rgba(150, 162, 170, 0.2);
@gray04: rgba(150, 162, 170, 0.4);

@hover: @blue1;
@primary: @blue1;

@waring: @red1;
@waringBg: @red01;
